.row
  %ul.nav
    %li= link_to "Layers of RubyX" , "layers.html"
    %li= link_to "Parfait", "parfait.html"
    %li= link_to "Debugger", "debugger.html"
    %li= link_to "Memory" , "memory.html"
    %li= link_to "Calling" , "calling.html"
