%ul.nav
  %li= link_to "Home" , root_path
  %li= link_to "Architecture", "/rubyx/layers.html"
  %li= link_to "Arm Resources" , "/arm/overview.html"
  %li= link_to "About" , "/project/motivation.html"
  %li= link_to "Misc" ,  "/misc/index.html"
  %li= link_to "News" , blog_index_path
